.box-head{
	height: .44rem;
	line-height: .44rem;
	text-align: center;
	background: #fff;
	.box-name{
		display: inline-block;
		vertical-align: top;
		font-size: .18rem;
		color:#2d2d30;
	}
}